body {
    max-width: 1140px;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}

.mainBlock {
    display: flex;
    flex-direction: row;
}

.Buttons {
    display: flex;
    padding-top: 50px;
    flex-direction: column;
    align-items: center;
}

.buttonOne {
    border-radius: 7px;
    width: 250px;
}

.buttonTwo {
    margin-top: 20px;
    border-radius: 7px;
    width: 250px;
}